.homepage-header-img-container{
    display: flex;
    flex-direction: row;
}
.homepage-header-img{
    height: auto;
    width: 25vw;
    opacity: .6;
}
.homepage-header-text{
    position: absolute;
    top: 100px;
    left: 42%;
    font-size: xx-large;
    font-weight: bold;
}
.homepage-body-products{
    margin:10px
}